.expo
.next
node_modules
package-lock.json
docker*
apps/**/out
# prettier-plugin-sql-cst only supports sqlite syntax
apps/platform/public/images/*
apps/www/.generated/*
apps/docs/**/generated/*
apps/docs/examples/*
apps/**/.contentlayer
# ignore files with custom js formatting
apps/platform/public
apps/**/.turbo
packages/icons/__registry__
packages/icons/src/icons/*.ts
**/migrations/*.sql
